<a href="https://colab.research.google.com/github/Deem-KSU/IT326-Group1-56546/blob/main/Phase1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### **Project Goal:**
 The goal of this project is to use data mining techniques on the Student Depression Dataset.

 - Classification Task – Predict whether a student is depressed or not ( 0 = No Depression, 1 = Depression) based on different features such as academic, social, and lifestyle factors.

 - Clustering Task – Group students into clusters with similar characteristics. This can help in finding hidden patterns and risk factors related to student depression.

The project will provide insights that may support early detection and awareness of student depression.

 #### **Dataset Source:**
 The dataset used in this project is the Student Depression Dataset, which was obtained from Kaggle.  https://www.kaggle.com/datasets/adilshamim8/student-depression-dataset

#### **Dataset Description:**
#### *   Attributes: 18 columns

In [19]:
import pandas as pd
from kagglehub import KaggleDatasetAdapter

path = 'student_depression_dataset.csv'
raw_data = kagglehub.dataset_load(KaggleDatasetAdapter.PANDAS,
  "adilshamim8/student-depression-dataset", path)

print('Number of attributes: ', raw_data.shape[1])

Using Colab cache for faster access to the 'student-depression-dataset' dataset.
Number of attributes:  18



#### *   Data type of each attribute:
- Intger (id, Depression)

- Float (Age, Academic Pressure, Work Pressure, CGPA, Study Satisfaction, Job Satisfaction, Work/Study Hours)

- Object (Gender, City, Profession, Sleep Duration, Dietary Habits, Degree, Have you ever had suicidal thoughts ?, Financial Stress, Family History of Mental Illness)

In [20]:
print ('Data types of attributes: \n',)
raw_data.info()

Data types of attributes:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27901 entries, 0 to 27900
Data columns (total 18 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   id                                     27901 non-null  int64
 1   Gender                                 27901 non-null  object
 2   Age                                    27901 non-null  float64
 3   City                                   27901 non-null  object
 4   Profession                             27901 non-null  object
 5   Academic Pressure                      27901 non-null  float64
 6   Work Pressure                          27901 non-null  float64
 7   CGPA                                   27901 non-null  float64
 8   Study Satisfaction                     27901 non-null  float64
 9   Job Satisfaction                       27901 non-null  float64
 10  Sleep Duration                         27901 non-null  object
 11  Dietary Habits                         27901 non-null  object
 12  Degree                                 27901 non-null  object
 13  Have you ever had suicidal thoughts ?  27901 non-null  object
 14  Work/Study Hours                       27901 non-null  float64
 15  Financial Stress                       27901 non-null  object
 16  Family History of Mental Illness       27901 non-null  object
 17  Depression                             27901 non-null  int64
dtypes: float64(7), int64(2), object(9)
memory usage: 3.8+ MB

#### *   Objects: 27901 rows

In [21]:
print('Number of objects: ', raw_data.shape[0])

Number of objects:  27901

#### *   Class attribute: Depression 2 labels (0 = No Depression, 1 = Depression)

In [22]:
# 0 = No Depression, 1 = Depression
Depression_count = raw_data['Depression'].value_counts()
print('Count of each label of the class attribute (Depression): \n \n', Depression_count)

Count of each label of the class attribute (Depression):

 Depression
1    16336
0    11565
Name: count, dtype: int64


#### *   Sample of 500 objects randomly selected:

In [23]:
#Sample of 500 student
Depression_sample= raw_data.sample(n=500, random_state=1)
print(Depression_sample)

           id  Gender   Age       City Profession  Academic Pressure  \
9176    46312  Female  19.0    Lucknow    Student                5.0
3456    17313    Male  34.0  Ahmedabad    Student                2.0
12221   61739    Male  28.0     Kanpur    Student                3.0
25762  129847  Female  18.0     Indore    Student                4.0
23828  120034    Male  34.0  Ahmedabad    Student                2.0
...       ...     ...   ...        ...        ...                ...
8165    41132  Female  33.0       Pune    Student                2.0
8439    42487  Female  19.0     Nashik    Student                1.0
21466  108445  Female  34.0      Patna    Student                1.0
12478   63109    Male  18.0     Nashik    Student                5.0
3832    19164    Male  27.0      Delhi    Student                4.0

       Work Pressure  CGPA  Study Satisfaction  Job Satisfaction  \
9176             0.0  6.16                 3.0               0.0
3456             0.0  8.74                 3.0               0.0
12221            0.0  6.16                 1.0               0.0
25762            0.0  8.74                 4.0               0.0
23828            0.0  5.88                 2.0               0.0
...              ...   ...                 ...               ...
8165             0.0  8.95                 5.0               0.0
8439             0.0  8.58                 1.0               0.0
21466            0.0  9.96                 1.0               0.0
12478            0.0  6.86                 2.0               0.0
3832             0.0  5.37                 2.0               0.0

            Sleep Duration Dietary Habits      Degree  \
9176           '7-8 hours'        Healthy  'Class 12'
3456   'Less than 5 hours'      Unhealthy         MCA
12221          '7-8 hours'       Moderate        B.Ed
25762  'More than 8 hours'       Moderate  'Class 12'
23828  'More than 8 hours'      Unhealthy      B.Tech
...                    ...            ...         ...
8165   'Less than 5 hours'        Healthy        B.Ed
8439   'Less than 5 hours'        Healthy  'Class 12'
21466          '5-6 hours'        Healthy        B.Ed
12478  'Less than 5 hours'      Unhealthy  'Class 12'
3832   'More than 8 hours'        Healthy          MA

      Have you ever had suicidal thoughts ?  Work/Study Hours  \
9176                                    Yes               2.0
3456                                    Yes              11.0
12221                                   Yes              10.0
25762                                   Yes              10.0
23828                                    No               0.0
...                                     ...               ...
8165                                    Yes               5.0
8439                                    Yes              12.0
21466                                    No               6.0
12478                                   Yes               8.0
3832                                     No               5.0

      Financial Stress Family History of Mental Illness  Depression
9176               3.0                              Yes           0
3456               5.0                              Yes           1
12221              1.0                              Yes           1
25762              5.0                              Yes           1
23828              2.0                               No           0
...                ...                              ...         ...
8165               4.0                              Yes           1
8439               3.0                              Yes           0
21466              2.0                               No           0
12478              4.0                               No           1
3832               4.0                              Yes           0

[500 rows x 18 columns]